<div class='argument'>
  <%= text_field_tag :argument =%>
</div>

<div class='key_value_argument'>
  <%= text_field_tag :key =%>
  <%= text_field_tag :value =%>
</div>

<%= link_to "Add Argument", "#", class: "add_argument" %>
<%= link_to "Add Key Value Argument", "#", class: "add_key_value_argument" %>
<%= link_to "Delete Argument", "#" %>
