<h1>New Job</h1>

<%= form_tag(jobs_path, method: :post) do %>
  <%= select_tag :job, options_for_select(@jobs) %>
  <div class="actions">
    <%= submit_tag 'Submit' %>
  </div>

  <%=
    #render partial: 'argument'
   %>

<% end %>

<%= link_to 'Back', jobs_path %>
